


<div id="wrapper"  class="container">
  
  <h6>Service Transactions</h6>
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Transaction Name (e.g. login)">
  </div>
  <table class="table table-bordered">
    <thead class="head">
      <tr>
        <th scope="col" >TRANSACTION</th>
        <th scope="col">AVG. RESPONSE TIME</th>
        <th scope="col">REQUESTS PER MINUTE</th>
        <th scope="col">ERROR RATE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>/assets/application/assdeddd</td>
        <td><div #row12></div></td>
        <td><div #row13></div></td>
        <td><input type ="text"></td>
      </tr>
      <tr>
        <td>/assets/application/assdeddd565767r6yetg/4545gfdsfs</td>
        <td><div #row22></div></td>
        <td><div #row23></div></td>
        <td><input type ="text"></td>
      </tr>
      <tr>
        <td>/assets/application/assdeddd/rtg/67</td>
        <td><div #row32></div></td>
        <td><div #row33></div></td>
        <td><input type ="text"></td>
      </tr>
    </tbody>
  </table>
  </div>